@import './variables.scss';
.matrix-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: -1;
  & span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 2px;
    white-space: nowrap;
    word-spacing: 2rem;
    opacity: 0.15;
    color: $green;
    transition: 250ms ease;
    font-family: $font-mono;
    animation: floatText 30s linear infinite;

    @keyframes floatText {
      0% {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
      }
      100% {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
      }
    }
  }
}
