@import './variables.scss';

.projects {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
  & ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
}
li.project-inner {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}
.project-inner .project-content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
  & .project-type {
    margin: 10px 0px;
    color: $green;
    font-family: $font-mono;
    font-size: $fz-xs;
    font-weight: 400;
  }
  & .project-title {
    color: $lightest-slate;
    font-size: clamp(24px, 5vw, 28px);
    & a {
      display: inline-block;
      text-decoration: none;
      text-decoration-skip-ink: auto;
      color: inherit;
      position: relative;
      transition: $transition;
      &:hover {
        color: $green;
      }
    }
  }
  & .project-desc {
    box-shadow: 0 10px 30px -15px $navy-shadow;
    transition: $transition;
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: $light-navy;
    color: $light-slate;
    font-size: $fz-lg;
  }
  & .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    & a {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      text-decoration: none;
      color: $lightest-slate;
      padding: 10px;
      &:hover {
        color: $green;
      }
    }
  }
}
.project-inner:not(:last-of-type) {
  margin-bottom: 100px;
}
.project-inner:nth-of-type(2n + 1) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}
.project-inner .project-image {
  box-shadow: 0 10px 30px -15px $navy-shadow;
  transition: $transition;
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
  background-color: $green;
  border-radius: 4px;
  & a {
    width: 100%;
    height: 100%;
    background-color: $green;
    border-radius: 4px;
    vertical-align: middle;
  }
  & .img {
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
    div {
      max-width: 700px;
      height: 100%;
      display: block;
      & img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
      }
    }
  }
  &:hover {
    background-color: transparent;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
    & .img {
      mix-blend-mode: normal;
      filter: none;
    }
  }
}
.project-inner:nth-of-type(2n + 1) .project-image {
  grid-column: 1/8;
}

.project-inner .project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
  & li {
    margin: 5px 10px 5px 0px;
    padding: 0px 5px;
    color: $green;
    border: 1px solid $green;
    border-radius: 4px;
    font-family: $font-mono;
    font-size: $fz-xs;
    white-space: nowrap;
  }
}
.project-inner:nth-of-type(2n + 1) .project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.project-inner:nth-of-type(2n + 1) .project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}

@media screen and (max-width: 768px) {
  .project-inner {
    & .project-image {
      grid-column: 1/-1 !important;
      height: 100%;
      opacity: 0.2;

      & .img {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(50%) !important;
      }
    }
    & .project-content {
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      height: 100%;
      grid-column: 1 / -1 !important;
      padding: 40px 40px 30px;
      & .project-desc {
        padding: 20px 0px;
        background-color: transparent;
        box-shadow: none;
        color: $dark-slate;
      }
      & .project-title {
        color: white;
      }
    }
  }
  .project-inner:nth-of-type(2n + 1) .project-content {
    grid-column: 1/-1;
    padding: 40px 40px 30px;
    text-align: left !important;
  }
  .project-inner:nth-of-type(2n + 1) .project-image {
    grid-column: 1/-1;
  }
  .project-inner:nth-of-type(2n + 1) .project-tech-list {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .project-inner:nth-of-type(2n + 1) .project-links {
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1080px) {
  .project-inner:nth-of-type(2n + 1) .project-content {
    grid-column: 5/-1;
  }
}
@media screen and (max-width: 480px) {
  .project-inner .project-content {
    padding: 30px 25px 20px !important;
  }
}
